name: always_check
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["main"]}
jobs:
  misc:
    name: General tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up environment
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
      - name: Set up TiDB
        run: |
          docker pull hawkingrei/tidb-playground:no-cache
          docker run --name tidb-server -d -p 4000:4000 hawkingrei/tidb-playground:no-cache
          sleep 10
      - name: Run tests
        run: |
          # Run your test commands here
          git clone https://github.com/PingCAP-QE/schrddl
          cd schrddl
          git checkout unifytestframework
          go build -o schrddl ./
          ./schrddl
            
